.buttonGrid {
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    padding: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.meny {
    font-size: 1.1rem;
}

.meny ul li {
    list-style-type: none;
}

.allergenSeksjon {
    margin: 2.5rem 0;
    transition: all 0.2s ease-in-out;
}

.filterHeader {
    display: grid;
    grid-template-columns: 10% 90%;
}

.filterTitle {
    display: grid;
    place-items: center;
    width: 10%;
}

.filterToggle {
    cursor: pointer;
    font-size: 2rem;
    float: right;
    padding: 5px;
}

#resetAllergen {
    margin: 0.5rem 0;
    border: 1px solid black;
}

.dish {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 7fr 2fr;
}

.grey-dish {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 7fr 2fr;
    color: #bdbdbd;
}

.menySection {
    margin: 2rem 0;
}

.navn {
    color: #212121;
    font-size: 1.05rem;
}

.grey-navn {
    color: #bdbdbd;
    font-size: 1.05rem;   
}

.beskrivelse {
    font-size: 0.90rem;
    margin: 0.5rem 0;
}

.allergener {
    font-size: 0.90rem;
}

.pris {
    text-align: right;
}

.allergenButton {
    display: block;
    cursor: pointer;
    letter-spacing: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    font-size: 1rem;
    width: fit-content;
    transition: all 0.2s ease-in;
}

.allergenButton:focus {
    outline-color: #212121;
}

.active {
    color: #29ce00;
}

.hyphen {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.hideFilter {
    display: none;
}

@media only screen and (max-width: 768px) {
}