
nav {
    top: 0;
    position: sticky;
    width: 100%;
    background-color: #0c0c0c;
    overflow: hidden;
    z-index: 999;
    height: 80px;
    transition: all 0.2s ease-in-out;
}

.navGrid {
    display: grid;
    grid-template-columns: 6fr 1fr;
    width: 100%;
}

.link {
    padding: 0.4rem 1rem 0.4rem 1rem;
    text-transform: uppercase;
    color: white;
}

.link:after {
    transition: all ease-in-out .125s;
    background: none repeat scroll 0 0 #e74222;
    content: "";
    display: block;
    height: 3px;
    width: 0;
    margin-top: 8px;
}

.link:hover {
    width: 100%;
}

.link:hover:after {
    width: 100%;
}

.logo {
    float: left;
    margin-left: 2%;
}

.logo img {
    margin-top: 0.4rem;
    width: 180px;
    height: auto;
}

#menuButton {
    display: grid;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

#menu {
    display: grid;
    place-items: center;
    height: 40px;
    width: 40px;
    border: 2px solid #e74222;
    padding: 5px;
    cursor: pointer;
    margin: 0 auto;
    overflow: hidden;
    
}

.nav-links:last-child {
    display: block;
    float: right;
    margin-right: 20px;
}

.line {
    width: 23px;
    height: 3px;
    background: #eeeeee;
    display: block;
    transition: all 0.3s ease-in-out;
}

.line1 {
    transform-origin: center center;
    transform: rotate(-45deg) translate(-6px, 6px);
    background: #e74222;
}

.line2 {
    opacity: 0;
}

.line3 {
    transform-origin: center center;
    transform: rotate(45deg) translate(-6px, -6px);
}

.links {
    display: grid;
    grid-auto-flow: row dense;
    grid-gap: 5px;
}

.links a {
    height: fit-content;
}

.showNav {
    height: 280px;
    display: grid;
    justify-items: center;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

/* For tablets and smaller (tablets, phones, 768px and down) */
@media only screen and (max-width: 600px) {
    .showNav {
        height: 768px;
    }
    .navGrid {
        grid-template-columns: 4fr 1fr;
    }

}

@media only screen and (max-width: 812px) and (orientation: landscape) {
    .showNav {
        height: 320px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .showNav {
        height: 1024px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) and (orientation: portrait) {

    .links {
        margin: 1.5rem;
    }

    .links a {
        margin: 0.7rem;
    }

    .scrollable {
        height: 100vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

@media only screen and (max-width: 992px) and (orientation: landscape) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}