.shopGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 2rem;
}

.shop {
    border-bottom: 2px solid #404040;
}

.shopHeader {
    margin: auto 0;
}

.shopGrid .bambooButton {
}

.shopGrid h2 {
    color: #404040;
}

.shopGrid .shopLink {
}