.merknadBanner {
    background-color: #eee9d2;
    color: black;
    margin-top: 0;
    font-size: 1rem;
    padding: 0.5rem;
}

.infoBanner {
    width: 100%;
    text-align: center;
    padding: 2rem;
    font-weight: lighter;
    font-size: 1.5rem;
}

.landingPage {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 90%;
    margin: 0 auto;
}

.landingImg, .landingInfo {
    grid-row: 1 / 8;
}

.landingImg {
    grid-column: 1 / 6;
    width: 100%;
}

.landingInfo {
    grid-column: 5 / -1;
    width: 80%;
    align-self: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

.secondGrid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
}

.secondGridImg, .bestillInfo {
    grid-row: 1 / -1;
}

.secondGridImg {
    grid-column: 5 / -1;
    width: 100%;
}

.bestillInfo {
    grid-column: 2 / 7;
    width: 80%;
    align-self: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    z-index: 2;
    margin-bottom: 10%;
}

.info {
    background-color: #0c0c0c;
    color: white;
    text-align: center;
    padding: 4rem;
}

.left {
    text-align: left;
}

.bestillInfo {
    background-color: #eeeeee;
    color: black;
    text-align: center;
    padding: 2rem;
}

.avdelinger {
    position: relative;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
    color: black;
}

.avdelinger .case {
    margin-top: 1rem;
}

.avdelinger hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #404040; /* old IE */
    background-color: #404040; /* Modern Browsers */
}

.avdelinger h1 {
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 5px;
}

/* Temporary CSS for Contact component */
.avdelingGrid .case, .avdelingGrid .avdeling {
    padding: 0;
    font-size: 1.1rem;
}

.avdeling {
    border-bottom: 1px solid #404040;
    max-width: 55%;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttons button {
    margin-left: auto;
    margin-right: auto;
}


.avdelingInfo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
}

.avdelingInfo img {
    margin-bottom: 4vh;
}

.avdelingInfo p {
    font-size: 1.3rem;
}

@media (max-width: 768px) {

    .hero {
        transform: translate(-50%, -45%);
        width: 90%;
        word-wrap: break-word;
        background-color: rgba(0, 0, 0, 0.65);
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .buttons {
        display: grid;
        grid-template-rows: 1fr;
        grid-gap: 1rem;
    }

    .avdelingGrid {
        grid-template-columns: auto;
    }

    .landingPage, .secondGrid {
        grid-template-columns: repeat(10, 1fr);
        width: 100%;
        margin-bottom: 5%;
    }

    .landingImg, .secondGridImg {
        grid-column: 1 / -1;
        width: 100%;
        height: auto;
    }

    .landingInfo {
        grid-column: 2 / -1;
        width: 100%;
        margin-top: 55%;
    }

    .bestillInfo {
        grid-column: 1 / 10;
        width: 100%;
        margin-top: 55%;
    }

    .bestillInfo button {
        padding: 1rem;
        width: 100%;
    }

    .info {
        background-color: #0c0c0c;
        color: white;
        text-align: center;
        padding: 2rem 1rem 3rem 1rem;
        font-size: 1.1rem;
    }

    .avdelingInfo {
        width: 100%;
    }

    .avdelingInfo p {
        font-size: 1.1rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .landingPage, .secondGrid {
        grid-template-columns: repeat(10, 1fr);
        width: 100%;
        margin-bottom: 10%;
    }

    .landingImg, .secondGridImg {
        grid-column: 1 / -1;
        width: 100%;
        height: auto;
    }
    
    .bestillInfo {
        grid-column: 1 / 6;
        width: 100%;
        margin-top: 70%;
    }

    .landingInfo {
        grid-column: 2 / -1;
        width: 100%;
        margin-top: 55%;
        font-size: calc(1em + 1vh);
    }
}

@media only screen and (max-width: 768px) {
    .avdeling {
        max-width: 90%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .bestillInfo {
        grid-column: 1 / 7;
        margin-top: 75%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .landingPage, .secondGrid {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        width: 95%;
        margin: 0 auto;
        margin-top: 4%;
        margin-bottom: 5%;
    }
    
    .landingImg {
        grid-column: 1 / 6;
        width: 100%;
    }

    .secondGridImg {
        grid-column: 4 / -1;
        width: 98%;
    }

    .bestillInfo {
        grid-column: 1 / 5;
        margin: 1.2rem;
    }
    
    .landingInfo {
        grid-column: 5 / -1;
        width: 80%;
        align-self: center;
        margin: 0 auto;
        font-size: calc(0.75em + 1vh);
        overflow: hidden;
    }
}