
.landing {
    display: block;
    position: relative;
}

.landingPage {
    background-image: url('../img/bamboo_sushi_bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.landingInfo {
    position: relative;
    height: 100vh;
    background-color: #16161631;
}

.info {
    display: inline-block;
    width: 100%;
    height: 50%;
    text-align: center;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4rem;
    color: white;
    line-height: 3rem;
    padding: 2rem;
    letter-spacing: 2px;
}

.avdelinger {
    display: block;
    position: relative;
    color: white;
    padding-top: 2rem;
    padding-bottom: 3rem;
    letter-spacing: 2px;
    width: 100vw;
    text-align: center;
    background-color: #0c0c0c;
}

.avdelinger h1 {
    text-transform: uppercase;
}

.avdelingInfo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 40px;
    justify-items: left;
}

.buttons button {
    /* Green */
    width: 300px;
    background-color: transparent;
    border: 1px solid rgb(209, 209, 209);
    padding: 15px 4rem;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 3px;
    color: white;
    text-transform: uppercase;
}

@media (max-width: 768px) {

    .hero {
        transform: translate(-50%, -45%);
        width: 90%;
        word-wrap: break-word;
        background-color: rgba(0, 0, 0, 0.65);
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .landingPage {
        background-position: center;
    }

    .buttons {
        display: grid;
        grid-template-rows: 1fr;
        grid-gap: 1rem;
    }

    .buttons button {
        /* Green */
        width: 100%;
        background-color: transparent;
        border: 1px solid lightgrey;
        padding: 15px 4rem;
        text-align: center;
        font-size: 1rem;
        cursor: pointer;
        letter-spacing: 3px;
        color: white;
        text-transform: uppercase;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}