.infoBanner {
    width: 100%;
    text-align: center;
    padding: 2rem;
    font-weight: lighter;
    font-size: 1.5rem;
}

.landingPage {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.landingImg, .landingInfo {
    grid-row: 1 / 8;
}

.landingImg {
    grid-column: 1 / 6;
    width: 100%;
}

.landingInfo {
    grid-column: 5 / -1;
    width: 80%;
    align-self: center;
}

.info {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2rem 4rem 4rem 4rem;
    font-size: calc(1rem + 1vh);
}

.avdelinger {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 4rem;
    letter-spacing: 2px;
    width: 100vw;
    text-align: center;
    background-color: #0c0c0c;
    color: white;
}

.avdelinger hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: white; /* old IE */
    background-color: white; /* Modern Browsers */
}

.avdelinger h1 {
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 5px;
}

.avdelingHeader {
    width: 90%;
    margin-left: auto;
    margin-right: auto;   
}

.avdelingGrid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 5%;
}

.buttons {
    display: flex;
    flex-direction: column;
}


.avdelingInfo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
}

.avdelingInfo img {
    margin-bottom: 4vh;
}

.avdelingInfo p {
    font-size: 1.3rem;
}

@media (max-width: 768px) {

    .hero {
        transform: translate(-50%, -45%);
        width: 90%;
        word-wrap: break-word;
        background-color: rgba(0, 0, 0, 0.65);
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .buttons {
        display: grid;
        grid-template-rows: 1fr;
        grid-gap: 1rem;
    }

    .avdelingGrid {
        grid-template-columns: auto;
    }

    .landingPage {
        width: 100%;
        margin-bottom: 20%;
    }

    .landingImg {
        grid-column: 1 / 8;
        width: 100%;
    }

    .landingInfo {
        grid-column: 2 / -1;
        width: 100%;
        margin-top: 55%;
    }

    .info {
        background-color: black;
        color: white;
        text-align: center;
        padding: 0.5rem 1rem 2rem 1rem;
        font-size: 1rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}