#infoGrid {
    display: grid;
    width: 90%;
    grid-template-columns: 0.6fr 1fr;
    grid-gap: 2rem;
    padding: 2rem;
    color: white;
    margin: 1rem auto;
    letter-spacing: 1px;
}

#infoImg {
    padding-bottom: 2rem 0;
}

#visjon {
    padding: 2rem;
    margin: 0 auto;
    width: 90%;
    background-color: #0c0c0c;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #infoGrid {
        grid-template-columns: auto;
        width: 100%;
        grid-gap: 0.5rem;
    }

    #visjon {
        width: 100%;
    }
}
