.buttonGrid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 8px;
    border-radius: 2px;
}

.meny {
    margin-top: 3vh;
    font-size: 1.1rem;
}

.meny h1, h2, h3 {
    margin-top: 1rem;
}

.meny ul li {
    list-style-type: none;
}

.allergenSeksjon {
    margin: 3vh 0;
    margin-top: 10vh;
}

.matrett {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 9fr 1fr;
}

.menySeksjon {
    margin: 3rem 0;
}

.navn {
    color: #212121;
    font-size: 1rem;
}

.beskrivelse {
    font-size: 0.90rem;
    margin: 0.5rem 0;
}

.allergener {
    font-size: 0.90rem;
}

.pris {
    text-align: right;
}

.allergenButton {
    background-color: #e74222;
    /* Green */
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #e74222;
    border-radius: 2px;
    height: 70px;
}

.allergenButton:focus {
    outline-color: #212121;
}

.active {
    background-color: transparent;
    color: black;
}

@media only screen and (max-width: 768px) {
    .buttonGrid {
    }
}