.buttonGrid {
    display: grid;
    grid-auto-flow: column;
    margin: 0 auto;
    margin-top: 5vh;
}

.meny {
    margin-top: 3vh;
    font-size: 1.1rem;
}

.meny h1, h2, h3 {
    margin-top: 1rem;
}

.meny ul li {
    list-style-type: none;
}

.allergenSeksjon {
    font-size: 14px;
    margin: 5vh 0;
}

.matrett {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 9fr 1fr;
}

.menySeksjon {
    margin: 3rem 0;
}

.navn {
    color: #212121;
    font-size: 1rem;
}

.beskrivelse {
    font-size: 0.90rem;
    margin: 0.5rem 0;
}

.allergener {
    font-size: 0.90rem;
}

.pris {
    text-align: right;
}

.allergenButton {
    background-color: #e74222;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    margin-bottom: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #e74222;
}

.allergenButton:focus {
    outline-color: #212121;
}

.active {
    background-color: transparent;
    color: black;
}

@media only screen and (max-width: 768px) {
    
    .buttonGrid {
        grid-auto-flow: row;
        grid-gap: 10px;
    }

    .buttonGrid button {
        width: 100%;
    }
}