
nav {
    position: fixed;
    width: 100%;
    background-color: #0c0c0c;
    overflow: hidden;
    z-index: 999;
}

.nav-links {
    display: flex;
    margin-left: 50%;
    width: 45%;
    justify-content: space-evenly;
    margin-top: 1.4rem;
    font-size: calc(0.6em + 0.6vw);
    white-space: nowrap;
    letter-spacing: 2px;
}

.link {
    padding: 0.4rem;
    text-transform: uppercase;
}

.menu {
    padding: 0.4rem;
    text-transform: uppercase;
}

.link:hover {
    border-bottom: 1px solid #e74222;
}

.logo {
    float: left;
    margin-left: 2rem;
}

.logo img {
    margin-top: 0.4rem;
    width: 180px;
    height: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    nav {
        height: 8vh;
    }
    
    .logo {
        float: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 0;
    }

    .nav-links {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}