
nav {
    position: fixed;
    width: 100%;
    background-color: #0c0c0c;
    overflow: hidden;
    z-index: 999;
}

.nav-links {
    display: flex;
    margin-left: 40%;
    max-width: 60%;
    justify-content: space-evenly;
    margin-top: 1.4rem;
    font-size: calc(0.6em + 0.6vw);
    white-space: nowrap;
    letter-spacing: 2px;
}

.link {
    padding: 0.4rem 1rem 0.4rem 1rem;
    text-transform: uppercase;
}

.link:after {
    transition: all ease-in-out .2s;
    background: none repeat scroll 0 0 #e74222;
    content: "";
    display: block;
    height: 3px;
    width: 0;
}

.link:hover:after {
    width: 100%;
}

.logo {
    float: left;
    margin-left: 2rem;
}

.logo img {
    margin-top: 0.4rem;
    width: 180px;
    height: auto;
}

#menu {
    display: none; /* Display none temp */
    padding: 0.4rem 1rem 0.4rem 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: #eeeeee;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    nav {
        height: 8vh;
    }
    
    .logo {
        float: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 0;
    }

    .nav-links :not(:last-child) {
        display: none;
    }

    #menu {
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;
        font-size: 4vh;
        height: 100%;
    }

    #menu:active {
        transform: rotate(90deg);
        transition: all 100ms ease-in-out;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}