@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans',
    sans-serif;
    font-size: 18px;
    width: 100vw;
    overflow-x: hidden;
    background-color: #eeeeee;
}

/* The body of content on page below navbar */
.case {
    width: 100%;
    padding-top: 15vh;
    min-height: 100vh;
}

.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    font-size: 1.35rem;
}

.wideImg {
    width: 100%;
    height: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.grey-text {
    color: #505050;
}

.dark-grey-text {
    color: #404040;
    letter-spacing: 1px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}