@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat',
    sans-serif;
    font-size: 18px;
    width: 100vw;
    overflow-x: hidden;
    background-color: #FAFAFA;
}

/* The body of content on page below navbar */
.case {
    width: 100%;
    min-height: 100vh;
}

.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    font-size: 1.35rem;
}

.responsiveImg {
    width: 100%;
    height: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.wideImg {
    width: 100%;
    height: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.grey-text {
    color: #2a2a2a;
}

.dark-grey-text {
    color: #333333;
    letter-spacing: 1px;
}

.bold {
    font-weight: bolder;
    color: #404040;
}

.orangeBorder {
    border-bottom: 3px solid #e74222;
    padding-bottom: 7px;
}

.bambooButton, .bambooButton2 {
    padding: 1rem;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.bambooButton {
    padding: 1rem 6rem;
    max-width: 90%;
    background: linear-gradient(to right, transparent 50%, black 50%);
    background-size: 200% 150%;
    background-position: right bottom;
    color: white;
    border: 2px solid black;
}

.bambooButton2 {
    width: 90%;
    border-radius: 2px;
    background: linear-gradient(to right, transparent 50%, #e74222 50%);
    background-size: 200% 150%;
    background-position: right bottom;
    color: white;
    border: 2px solid #e74222;
}

.bambooButton:hover {
    background-position: left bottom;
    color: black;
    transition: all 200ms ease-in-out;
}

.bambooButton2:hover {
    background-position: left bottom;
    color: black;
    transition: all 200ms ease-out;
}

.bambooButton:focus,
.bambooButton2:focus {
    outline: none;
}

.bambooButton:active,
.bambooButton2:active {
    transform: translateY(3px);
    transition: all 25ms ease-in-out;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .case {
        padding-top: 7vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (min-width: 768px) {
    .container {
        width: 80%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .case {
        padding-top: 8%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}